.input {
  width: 40%;
  border: 2px solid #0b5ed7;
  border-radius: 8px;
  box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.25);
  padding: 10px 15px;
  &:focus {
    outline: none;
    // border: 3px solid #0b5ed7;
  }
}

.btn {
  box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.25);
}
